/* COLOR PALETTE */
/* Alice Blue - #dde7e9 */
/* African Violet - #a794ce */
/* Celeste - #a0f4ff */
/* Skye Blue - #66d2ea */
/* Uranian Blue - #b1d4ee */
/* Blue (Munsell) - #4e92a8 */
/* Cerulean - #16748e */
/* Rich Black - #000011 */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
    background: #16748e;
    height: 80px;
    width: 100%;
}

nav img{
    padding-left: 20px;
    height: 80px;
    position: absolute;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #4e92a8;
  transition: .5s;
}

#checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  #checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4e92a8;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #b1d4ee;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/* Homepage */
.content{
  background-color: #dde7e9;
}

.introsec{
  width: 100%;
  padding: 90px 0;
  background-image: url("images/introbg.png");
}

.intropic{
  height: auto;
  width: 302px;
  border: 8px solid #ffffff;
}

.intro{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.introtx{
  width: 540px;
}

.introtxt h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000;
}

.introtxt h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000;
}

@media (max-width: 1200px){
  .introtxt h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .introtxt h5{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 980px){
  .introtxt{
    padding-left: 20px;
  }
  .intropic{
    width: 200px;
  }
  .introtxt h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .introtxt h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
.introbtndiv{
  margin-top: 30px;
}

.introbtn{
  font-size: 18px;
  background: #4e92a8;
  color: #ffffff;
  text-decoration: none;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  transition: 0.5s;
}

.introbtn:hover{
  background: #000011;
  border: 1px solid #4e92a8;
}

.sponsorsec{
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}
.sponsorsec img{
  width: 10%;
}
.sponsorsec h2{
  align-self: center;
}

.twitch{
  padding: 20px;
  text-align: center;
  background-image: url("images/twitchbg.png");
}

.twitchtxt{
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  margin-right: 25%;
  margin-left: 25%;
}

.twitchtxt h1{
  padding: 0 0 10px 0;
}

.twitchplayer{
  width: 75%;
  height: 500px;
}

@media (max-width: 1200px){
  .twitchplayer{
    height: 500px;
  }
}

@media screen and (max-width: 980px){
  .twitchplayer{
    height: 250px;
  }
}

.content h1, .content p{
  text-align: center;
  padding-top: 20px;
}

/* Articles */
.cardsec{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 0px auto;
  padding: 20px;
  gap: 20px;
}

.cardsec .card{
  background: #ffffff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 0px rgba(0,0,0,0.4);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.cardsec .card:hover{
  border: 2px solid #000011;
}

.cardsec .card img{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.articletag{
  display: inline-block;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600px;
}

/* ARTICLE TAGS */
.gaming{
  background-color: #f7dff5;
  color: #b22485;
}

.coding{
  background-color: #d1e8ff;
  color: #2968a8;
}
.career{
  background-color: #d6f8d6;
  color: #205c20;
}

.card h3{
  color: #000000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card p{
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.card .arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #000000;
  margin-top: 40px;
  transition: 0.2s ease;
}

.cardsec .card:hover .arrow{
  background: #000000;
  color: #ffffff;
}

@media (max-width: 1200px){
  .cardsec .card{
    padding: 15px;
  }
}

@media screen and (max-width: 980px){
  .cardsec{
    margin: 0 auto;
  }
}

.aboutmesec{
  padding-top: 30px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%; 
  padding-bottom: 15px;
}

.aboutmesec h2{
  font-size: 50px;
}
@media screen and (max-width: 980px){
  .aboutmesec h2{
    padding-left: 20px;
    font-size: 30px;
  }
}
.aboutmecont{
  padding-left: 25%;
  padding-right: 25%;
}

.aboutmecont p{
  text-align: left;
  text-indent: 25px;
}
.aboutmecont h2{
  text-align: center;
  padding-bottom: 10px;
}
.aboutmecont h3{
  padding-bottom: 5px;
  padding-top: 20px;
}
@media screen and (max-width: 980px){
  .aboutmecont{
    padding-left: 5%;
    padding-right: 5%;
  }
}

.kodiingdiv{
  padding-left: 25%;
  padding-right: 25%;
}

.kodiingdiv p{
  text-align: left;
  text-indent: 25px;
}
.kodiingdiv h2{
  text-align: center;
  padding-bottom: 10px;
}
.kodiingdiv h3{
  padding-bottom: 5px;
  padding-top: 20px;
}
@media screen and (max-width: 980px){
  .kodiingdiv{
    padding-left: 5%;
    padding-right: 5%;
  }
}
.kklinksec{
  display: block;
}
.kklinkitem{
  display: flex;
  align-items: center;
  background-color: #b1d4ee;
  border: 3px solid #000011;
  border-radius: 10px;
  margin-bottom: 25px;
}
.kklinkicon{
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0;
  padding: 15px;
  margin-left: 5px;
}
.kklinkicon a{
  padding: 2px;
}
.kklinkicon i{
  color: #000011;
}
.kklinkicon:hover{
  background-color: #ffffff;
}
.kklinkicon a:hover{
  background-color: #ffffff;
}
.kklinkdesc{
  text-align: center;
}
.kklinkdesc h3{
  padding-top: 10px;
}
.kklinkdesc p{
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* Footer */
.footer{
    background-color: #16748e;
    text-align: center;
    padding: 5%;
}
.footer i{
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover{
  background-color: #545bbf;
}
.footertxt{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}
.footer .ftlink{
  color: #00ffff;
}

/* Blog */
#codingtag{
  display: show;
}
#gamingtag{
  display: show;
}
#careertag{
  display: show;
}


/* ARTICLE DEFAULT CSS */
/* Promo Bar */
.promobar{
  background-color: #66d2ea;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 500;
  text-align: center;
}

.promobar p{
  text-align: center;
}

.promobar a{
  text-decoration: none;
}

.promobar a:hover{
  text-decoration: none;
  color: #ffffff;
}
/* Article img */
.articleimg{
  display: flex;
  justify-content: center;
  text-align: center;
}
.articleimg img{
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%;
}
@media screen and (max-width: 1200px){
  .articleimg img{
    width: 60%;
  }
}

/* Article Title */
.articletitle h2{
  display: block;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.articletitle p{
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}
.articletitletag{
  display: inline-block;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600px;
}

@media screen and (max-width: 980px){
  .articletitle h2{
    font-size: 20px;
    font-weight: 700;
  }
  .articletitle p{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 15px;
  }
  .articletitletag{
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600px;
  }
}
.articlehr{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid #4e92a8;
}

.articleinfo{
  text-align: center;
}

/* Article Text */
.articletxt{
  margin-left: 30%;
  margin-right: 30%;
}
@media (max-width: 1200px){
  .articletxt{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 980px){
  .articletxt{
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* ARTICLE SPECIFIC CSS */
.articlecontent{
  text-align: left;
}

.articlecontent p{
  text-indent: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.articlecontent h3{
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.articlecontent h4{
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.articlecontent h5{
  font-size: 25px;
}

/* How to Use Python Turtle Library */
.pyturt-table table{
  border-collapse: collapse;
  text-align: center;
}
.pyturt-table table, .pyturt-table th, .pyturt-table td{
  border: 2px solid #000011;
  padding: 5px;
}
.pyturt-table th{
  background-color: #66d2ea
}
.pyturtimg{
  display: flex;
  justify-content: center;

}
.articletxt .pyturtimg img{
  display: block;
  align-content: center;
}

.codetable{
  width: 100%;
  background-color: #000011;
  color: #dde7e9;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.codetable th{
  text-indent: 25px;
}

.sourcecodebtn{
  display: block;
  border: none;
  border-radius: 30px;
  background-color: #4E92A8;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.sourcecodebtn a:hover{
  cursor: pointer;
}