<div class="promobar">
    <p>Consdier following my Twitch channel: <a href="https://twitch.tv/KiindaLiinda">https://twitch.tv/KiindaLiinda</a></p> 
 </div>
<div class="content">
    <h1>Blog</h1>
    <hr class="articlehr">
    <div class="blogsort">
        <p>Sort by Tags:</p>
        <button onclick="codingTagSort()" class="coding">Coding</button>
        <button onclick="gamingTagSort()" class="gaming">Gaming</button>
        <button onclick="careerTagSort()" class="career">Career Development</button>
        <button onclick="resetTagSort()" class="reset">Reset</button>
    </div>
    <div class="cardsec">
        <a href="articles/how-to-use-python-turtle-library.html" class="card" id="codingtag">
            <img src="images/articleimgs/pythonturtlehowto.png" alt="image">
            <span class="articletag coding">Coding</span>
            <h3>How to Use the Python Turtle Library</h3>
            <p>March 25, 2024</p>
            <div class="arrow">
                <i class="fa-solid fa-up-right-from-square cardicon"></i>
            </div>
        </a>
        <a href="#" class="card" id="gamingtag">
            <img src="images/test.jpg" alt="image">
            <span class="articletag gaming">Gaming</span>
            <h3>Article Title</h3>
            <div class="arrow">
                <i class="fa-solid fa-up-right-from-square cardicon"></i>
            </div>
        </a>
        <a href="#" class="card" id="careertag">
            <img src="images/test.jpg" alt="image">
            <span class="articletag career">Career Development</span>
            <h3>Article Title</h3>
            <div class="arrow">
                <i class="fa-solid fa-up-right-from-square cardicon"></i>
            </div>
        </a>
    </div>
</div>